<!DOCTYPE html PUBLIC "">
<html>
    <head>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ryantroxler</title>
        <link href="{{context}}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="{{context}}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        <link href="{{context}}/css/screen.css" rel="stylesheet" type="text/css">
        <link href="{{context}}/css/style.css" rel="stylesheet" type"text/css">
        <link href="{{context}}/js/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type"text/css">
        <link href="{{context}}/js/jquery-terminal.css" rel="stylesheet" type"text/css">
        <script type="text/javascript">		var context = "{{context}}";		</script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.1.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/jquery.terminal-0.8.1.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>

    </head>
    <body>
        <div id="wrap">				
{% block navbar %}
			<div class="navbar navbar-fixed-top center">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="brand" href="/">ryantroxler</a> 						
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/">terminal</a>
                            </li>
                            <li>
                               <a href="/todo">todo</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">projects</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/projects/clintake">CLIntake</a>
                                    </li>
                                    <li>
                                        <a href="#">That</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

		    <div class="nav-collapse"></div>
                    </div>
                </div>
            </div>			
{% endblock %}
					<div class="container-fluid">				
                <div class="row-fluid">
                    <div class="span3">
                        <div class="sidebar-nav-fixed">
                            <div class="well-term floating">
                                <p class="side-terminal">[rtroxler] ~ »  cat about.txt </p>
                                <p class="side-terminal">
                                Senior in Computer Science/Software Engineering at Kansas State University. 
                                </p>
                                <p class="side-terminal">
                                Lead Student Application Developer for K-State Office of Mediated Education. 
                                </p>
                                <p class="side-terminal">
                                Linux Enthusiast.
                                </p>
                                <p class="side-terminal"> [rtroxler] ~ » archey</p>
                                <img align="left" src="{{context}}/img/arch.png">
                                <p class="side-terminal"> [rtroxler] ~ » </p>
                            </div>
                        </div>
                    </div> <!-- span3 -->
                    <div class="span6 span-fixed-sidebar">

{% block content %}
 				
{% endblock %}
                    </div>
                    <div class="span3">
                        <div class="sidebar">
                            <div class="well floating">
                                <img align="left" src="{{context}}/img/image.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            <div id="push"></div>
        </div>
    </body>
</html>
