
{% extends "ryantroxler/views/templates/base.html" %}


{% block content %}

    <div class="hero unit"> 
        <h1>
            Future Blog
        </h1>

{% if user-id %}
    <form action="/blog" method="POST">
        <p>
            Title:
            <input type="text" name="blogtitle" value={{blogtitle}}>
        </p>
        <p>
            Message:
            <textarea rows="4" cols="50" name="message">
                {{message}}
            </textarea>
        </p>
        <input type="submit" value="Submit">
    </form>

{% endif %}
        
    </div>

    {% if error %}
    <p class="error"> {{error}}</p>
    {% endif %}

    <ul>
        {% for item in messages %}
            <li>
                <h2>{{item.blogtitle}}</h2>
                <time>{{item.timestamp|date:"MM-dd-yyy"}}</time>
                <p>{{item.message}}</p>
                <p> - {{user-id}}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
