
{% extends "ryantroxler/views/templates/base.html" %}


{% block content %}

<div class="container-fluid">
  <div class="row-fluid"> 
    <div class="span4"> 
          <ul class="nav nav-list" data-spy="affix" data-offset-top="750">
        <li><a href="#one"><i class="icon-chevron-right"></i> Fix</a></li>
        <li><a href="#two"><i class="icon-chevron-right"></i> This</a></li>
        <li><a href="#three"><i class="icon-chevron-right"></i> Shit</a></li>
        <li><a href="#four"><i class="icon-chevron-right"></i> It</a></li>
        <li><a href="#five"><i class="icon-chevron-right"></i> Should</a></li>
        <li><a href="#six"><i class="icon-chevron-right"></i> Scroll</a></li>
        <li><a href="#seven"><i class="icon-chevron-right"></i> Though</a></li>
    </ul>

    </div><!--/span-->



{% endblock %}