body {
    background-color:#D1D1D1;
}

.side-terminal {
    color: #FFFFFF;
    line-height:15px;
    color: #AAAAAA;
    font-family: FreeMono,monospace;
    font-size: 12px;
    line-height: 14px;
}
#mid {
    position:absolute;
    top: 75px;
    left:30%;
    height: 550px;
    width: 500px;
}

#term {
    position:absolute;
    top: 75px;
    left:33%;
    height: 550px;
    width: 500px;
}


.sidebar {
    position:absolute;
    right: 20px;
    top: 65px;
    width:220px;
}

.floating {
    background-color: #181512;
    box-shadow: 5px 5px 10px #181512;
    padding: 10px;
    font-size: 12px;
}

.well {
    background-color: #F5F5F5;
    height:145px;
    margin-bottom:20px;
    padding:10px;
}

.well-term {
    background-color: #181512;
    box-shadow: 5px 5px 10px #181512;
    border: none;
    border-radius:0;
    padding: 10px;
    font-size: 12px;
    min-width:330px;
}

.hero-unit {
    background-color: #000000;
}

.navbar {
    background-color: #333333;
    background-image: none;
}

.navbar-inner {
    background-color: #333333;
    background-image: none;
}

.navbar .brand {
    color:#FFFFFF;
}

.navbar .nav > li > a {
    color: #FFFFFF;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #FFFFFF;
}

.navbar .nav {
    display:inline-block;
    float:none;
}

.center .navbar-inner {
    text-align:center;
    height:25px;
}

.center .navbar .nav,
.center .navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    .vertical-align:top;
}
